<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/admin_sidebar.css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<!--side-->
{{> admin_sidebar}}
<div id="sidebar"></div>
<!--side end-->
<section id="admin">
    <div class="container ">
        <div class="container-fluid p-5 mt-4 rounded-4" style="background-color: aliceblue; width: 45%;">
            <div class="row">
                {{#each editMenuData}}
                    <h3 class="fw-bold">Edit {{this.mname}}
                        <i class="fa-solid fa-utensils" style="color: #000000;"></i>
                    </h3>
                {{/each}}

            </div>
            <div class="row">
                <div class="col-lg-12 ">
                    {{#each editMenuData}}
                        <form class="m-4 rounded-circle mx-auto" method="post" action="/confirmMenuEdit/{{this.mid}}">
                            {{#if msg}}
                                <h5 style="text-align: center;">{{msg}}</h5>
                            {{/if}}
                            <div class="mb-4" style="color: grey">
                                <label class="form-label text-dark">Edit Name</label>
                                <input type="text" class="form-control rounded-2 shadow" name="food_name"
                                       placeholder="Enter Menu Name" value="{{this.mname}}"
                                       style="background-color:whitesmoke; border: 1px solid rgb(241, 166, 97);">
                            </div>

                            <div class="mb-4" style="color: grey">
                                <label class="form-label text-dark">Choose the menu category</label>
                                <select class="form-select rounded-2 shadow" name="food_category"
                                        style="background-color:whitesmoke; border: 1px solid rgb(241, 166, 97);">
                                    <option value="Curry">Curry</option>
                                    <option value="Drink">Drink</option>
                                    <option value="Fries">Fries</option>
                                    <option value="Salad">Salad</option>
                                    <option value="Fast">Fast</option>
                                    <option value="Soup">Soup</option>
                                    <option value="Special">Special</option>
                                </select>
                            </div>

                            <div class="mb-4" style="color: grey">
                                <label class="form-label text-dark">Menu Description</label>
                                <input type="text" class="form-control rounded-2 shadow" name="food_note"
                                       placeholder="Enter Menu's description" value="{{this.mnote}}"
                                       style="background-color:whitesmoke; border: 1px solid rgb(241, 166, 97);">
                            </div>

                            <div class="mb-4" style="color: grey">
                                <label class="form-label text-dark">Quantity</label>
                                <input type="number" class="form-control rounded-2 shadow" name="food_quantity"
                                       placeholder="Enter Quantity" min="0" max="100" value={{this.quantity}}
                                       style="background-color:whitesmoke; border: 1px solid rgb(241, 166, 97);">
                            </div>


                            <div class="mb-4" style="color: grey">
                                <label class="form-label text-dark">Enter Price</label>
                                <input type="text" class="form-control rounded-2 shadow" name="food_price"
                                       placeholder="Enter Price" value="{{this.price}}"
                                       style="background-color:whitesmoke; border: 1px solid rgb(241, 166, 97);">
                            </div>

                            <div class="mb-4" style="color: grey">
                                <label class="form-label text-dark">Change image path</label>
                                <input type="text" class="form-control rounded-2 shadow" name="food_image"
                                       placeholder="Enter the file path (/images/filename)" value="{{this.imgUrl}}"
                                       style="background-color:whitesmoke; border: 1px solid rgb(241, 166, 97);">
                            </div>

                            <div class="footer justify-content-center d-flex align-content-center mb-4">
                                <div class="me-auto">
                                    <a href="/viewItems">
                                        <button type="button" class="button_ho shadow rounded-2" data-bs-dismiss="modal"
                                                style="background-color:  red; width:120px; height:40px; border:1px solid white">
                                            Cancel
                                        </button>
                                    </a>
                                </div>
                                <div>
                                    <button type="submit" class="button_ho shadow rounded-2"
                                            style="background-color: green; width:120px; height:40px ; border:1px solid white">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    {{/each}}
                </div>
                <div class="col-lg-6">

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>