<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/admin_sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/admin_search.js" defer></script>
</head>
<body>
{{> admin_sidebar}}
<div id="sidebar"></div>

<section id="admin" class="mt-5">
    <div class="container mx-auto text-center m-5 p-5 rounded-4"
         style="background-color: white; border: 1px solid rgb(241, 166, 97);">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <i class="fa-regular fa-user fs-5 fw-bold mt-1" style="color: black"></i>
                            <span style="float: right;">
                                <h3 class=" text-uppercase">Manage Users</h3>
                            </span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mt-5">
                <div class="col-sm-6">
                    <div class="input-group shadow" style="width: 50%;">
                        <input type="search" id="form1" class="form-control" placeholder="Search">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="d-flex justify-content-end">
                        <a href="/addUser">
                            <button type="button" class="btn shadow"
                                    style="background-color: white; border: 1px solid rgb(241, 166, 97);">
                                <div class="px-4">Add Users</div>
                            </button>
                        </a>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12 custom-table">
                    <div class="table_body">
                        <table id="data_table">
                            <thead>
                            <tr class="">
                                <th scope="col">UserId</th>
                                <th scope="col">Email</th>
                                <th scope="col">Batch</th>
                                <th scope="col">User Name</th>
                                <th scope="col">Password</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Role</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody class="">
                            {{#each allUsers}}
                                <tr>
                                    <th scope="row">{{this.uid}}</th>
                                    <td>{{this.email}}</td>
                                    <td>{{this.batch}}</td>
                                    <td>{{this.username}}</td>
                                    <td style="max-width: 300px; word-wrap: break-word;">{{this.rawpasswd}}</td>
                                    <td>{{this.phone}}</td>
                                    <td>{{this.urole}}</td>
                                    <td class="text-center">
                                        <button type="button" class="btn px-2">
                                            <i class="fa-solid fa-pen-to-square" style="color: #000000;"></i>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn px-2">
                                            <i class="fa-solid fa-trash" style="color: #000000;"></i>
                                        </button>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>