<!DOCTYPE html>
<html lang="en">
<head>
    {{> header_test }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <!-- Bootstrupt CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <!-- for CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- icon link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>

    <!-- for link JavaScript -->
    <script src="/javascripts/cart.js" defer></script>

    <title>Home</title>
</head>
<body>
<div id="user-id" style="display: none">{{user.uid}}</div>

<div id="add_cart"
     style="position: fixed; bottom: 0; left: 50%; margin-bottom: 1rem; transform: translateX(-50%); z-index: 999; width: 80%; display: none;">
    <div class="box p-2" style="background-color: white; border-radius: 10px; border: 2px solid white">
        <button type="button" class="btn w-100" data-bs-toggle="modal" data-bs-target="#order-detail"
                style="background-color: rgb(241, 166, 97);">
            <span id="cart_count"></span> added in your cart
        </button>
    </div>
</div>
<div class="modal fade" id="order-detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 900px; max-width: 90vw; height: 800px; max-height: 90vh;">
        <div class="modal-content" style="background-color: rgb(255, 216, 169);">

            <div class="modal-header d-flex flex-column align-items-center">
                <h5 class="modal-title text-center fs-4">{{user.username}}'s Cart</h5>
            </div>

            <!-- modal body -->
            <div class="modal-body">
                <div id="cart-button-container"></div>

                <!-- for payment type drop down select-->
                <div class="container m-5">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button type="button" class="btn selection dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"
                                        style="background-color: rgb(241, 166, 97);" id="paymentButton" disabled>
                                    Payment Type
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" onclick="updateButton('KBz Pay')">KBz Pay</a>
                                    <a class="dropdown-item" href="#" onclick="updateButton('AYA Pay')">AYA Pay</a>
                                    <a class="dropdown-item" href="#" onclick="updateButton('Wave Pay')">Wave Pay</a>
                                </div>
                            </div>
                        </div>

                        <!-- for payment type radio button -->
                        <div class="col-md-6">
                            <h3>Choose an Option:</h3>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="exampleRadio" id="radioOption1"
                                       value="option1" onclick="disableDropdown()" checked>
                                <label class="form-check-label" for="radioOption1">Pay after Pick Up</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="exampleRadio" id="radioOption2"
                                       value="option2" onclick="enableDropdown()">
                                <label class="form-check-label" for="radioOption2">Pre Pay</label>
                            </div>
                        </div>

                        <!-- Horizontal line with reduced width -->
                        <hr style="border-top: 3px solid black; margin: 20px 20px 20px 20px; width: 85%;">

                        <!-- Total amount -->
                        <div class="row" style="margin-top: 5%;">
                            <div class="col" style="font-size: 35px; opacity: 70%;">
                                <p> Total Amount:</p>
                            </div>
                            <div class="col" style="font-size: 35px; margin-left: 2%;">
                                <div id="final-price" class="final-price"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer justify-content-center">

                    <!-- Centered buttons -->
                    <button type="button" class="button_ho shadow rounded-3" data-bs-dismiss="modal"
                            style="background-color: red; width:200px; height:50px; border:1px solid white; color: white; margin-right: 50px;">
                        Cancel
                    </button>
                    <button id="order-confirm" type="submit" class="button_ho shadow rounded-3"
                            style="background-color: green; color: white; width:200px; height:50px ; border:1px solid white;"
                            onclick="submitOrder()">
                        Order
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- body -->
<div class="background p-3 mb-2">
    <div class="header-1" style="margin-left: 1.5%; margin-right: 1.5%;">
        <div class="container-fluid mt-4 justify-content-center  align-content-center rounded-5 shadow"
             style="background-color: rgb(255, 255, 255); margin-right: 20px; border: 1px solid rgb(241, 166, 97);">

            <div class="row">
                <div class="col-lg-6">
                    <p style="margin-left: 15%; margin-top: 15%; font-size: 50px;">Welcome</p>
                    <p style="margin-left: 50%; font-size: 35px;">to</p>
                    <p style="margin-left: 65%; font-size: 50px;">Canteen</p>

                    <p class="d-flex justify-content-center" style="margin-top: 25%; ">Eat Tasty Dish EveryDay!!!</p>
                    <a href="/menu" style="text-decoration: none;">
                        <button type="button" class="btn d-flex justify-content-center mx-auto"
                                style="width: 50%; color: #000; background-color: #E38B29;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            Order
                        </button>
                    </a>
                    <p class="d-flex justify-content-center" style="margin-top: 2%;">You can Order Food by clicking
                        Order Food Button...</p>
                </div>

                <div class="col-lg-6">
                    <img src="/images/canteen1.jpeg" alt="canteen1" class="img-fluid w-100"
                         style="width: 100%; height: 100%; border-radius: 28px; padding-top: 1.5%; padding-bottom: 1.5%;">
                </div>
            </div>

        </div>
    </div>

    <!-- special items -->
    <div class="special items">
        <div class="text-center" style=" margin-top: 2%; margin-bottom: 2%;">
            <h5 class="card-title" style="color: #E38B29;"><b>Special</b></h5>
            <h5 class="card-title" style="padding-top: 1%;"><b>Popular Items</b></h5>
        </div>

        {{#if msg}}
            <p>{{msg}}</p>
        {{/if}}
        <!-- popular items -->
        <div class="container">
            <div class="container-fluid mt-5 justify-content-center d-flex align-content-center"
                 style="margin-right: 20px;">
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">

                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row g-0">
                                {{#each specials}}
                                    <div class="con col-md-3 no-padding-col" db-id="{{this.mid}}"
                                         style="padding: 0.5%;">
                                        <div class="card w-100" style="width: 18rem;">
                                            <img src="{{this.imgUrl}}" class="card-img-top" alt={{this.mname}}
                                                 style="width: 100%; height: 250px; object-fit: cover;">
                                            <div class="card-body">
                                                <div class="text-center">
                                                    <h5 class="card-title"><b>{{this.mname}}</b></h5>
                                                    <p class="card-text"
                                                       style="font-size: 0.7rem; opacity: 60%;">{{this.mnote}}</p>
                                                    <p class="card-price" style="font-size: 1rem;">{{this.price}}
                                                        MMK</p>
                                                    {{#if this.quantity}}
                                                        <button type="button"
                                                                class="btn d-flex justify-content-center mx-auto"
                                                                food-name="{{this.mname}}" food-price="{{this.price}}"
                                                                food-id="{{this.mid}}" food-quantity="{{this.quantity}}"
                                                                id="order-button-{{this.mid}}"
                                                                button-action="add"
                                                                onclick="orderFood(this)"
                                                                style="background-color: #E38B29">Order
                                                        </button>
                                                    {{else}}
                                                        <button type="button"
                                                                class="btn d-flex justify-content-center mx-auto"
                                                                disabled
                                                                style="background-color: #E38B29">Out of stock
                                                        </button>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="header-3" style="margin-left: 1.5%; margin-right: 1.5%;">
                <div class="container-fluid mt-5  d-flex rounded-5 shadow"
                     style="background-color: rgb(255, 216, 169); margin-right: 20px; border: 1px solid rgb(241, 166, 97);">
                    <div class="row">

                        <div class="col-lg-6">
                            <img src="/images/canteen4.jpeg" alt="canteen1" class="img-fluid w-100"
                                 style="width: 750px; height: 650px; border-radius: 28px; padding-top: 1.5%; padding-bottom: 1.5%;">
                        </div>

                        <!-- for about us button -->
                        <div class="col-lg-6 mt-5">
                            <h5 class="card-title" style="text-align: center; font-size: 50px;  margin-top: 7%;"><b>We
                                Make the Best Food</b></h5>
                            <h5 class="card-title" style="text-align: center; font-size: 25px; margin-top: 5%;"><b>For
                                you...</b></h5>
                            <p class="card-text" style="text-align: center; font-size: 15px; margin-top: 10%;">Best Food
                                in Buget and you can get it Fresh and Hot</p>
                            <button type="button" class="btn d-flex justify-content-center mx-auto"
                                    style="width:50%; margin-top: 15%; background-color: #E38B29;">
                                <a href="#" class="btn" style="margin-left: 2%; font-size: 20px;">Know More About Us</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{{> footer }}
</html>
