<!DOCTYPE html>
<html lang="en">
{{> header_test}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <!-- Bootstrupt CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <!-- for CSS -->
    <link rel="stylesheet" href="/stylesheets/menu.css">

    <!-- icon link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>

    <!-- for link JavaScript -->
    <script src="/javascripts/menu.js" defer></script>
    <script src="/javascripts/cart.js" defer></script>

    <title>Food Menu</title>
    <link rel="icon" href="/images/logo.png" type="img/png">
</head>

<!-- body -->
<body style="background-color: rgb(253, 238, 220);">
<div id="user-id" style="display: none">{{user.uid}}</div>

<div id="add_cart"
     style="position: fixed; bottom: 0; left: 50%; margin-bottom: 1rem; transform: translateX(-50%); z-index: 999; width: 80%; display: none;">
    <div class="box p-2" style="background-color: white; border-radius: 10px; border: 2px solid white">
        <button type="button" class="btn w-100" data-bs-toggle="modal" data-bs-target="#order-detail"
                style="background-color: rgb(241, 166, 97);">
            <span id="cart_count"></span> added in your cart
        </button>
    </div>
</div>
<div class="modal fade" id="order-detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 900px; max-width: 90vw; height: 800px; max-height: 90vh;">
        <div class="modal-content" style="background-color: rgb(255, 216, 169);">

            <div class="modal-header d-flex flex-column align-items-center">
                <h5 class="modal-title text-center fs-4">{{user.username}}'s Cart</h5>
            </div>

            <!-- modal body -->
            <div class="modal-body">
                <div id="cart-button-container"></div>

                <!-- for payment type drop down select-->
                <div class="container m-5">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button type="button" class="btn selection dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"
                                        style="background-color: rgb(241, 166, 97);" id="paymentButton" disabled>
                                    Payment Type
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" onclick="updateButton('KBz Pay')">KBz Pay</a>
                                    <a class="dropdown-item" href="#" onclick="updateButton('AYA Pay')">AYA Pay</a>
                                    <a class="dropdown-item" href="#" onclick="updateButton('Wave Pay')">Wave Pay</a>
                                </div>
                            </div>
                        </div>

                        <!-- for payment type radio button -->
                        <div class="col-md-6">
                            <h3>Choose an Option:</h3>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="exampleRadio" id="radioOption1"
                                       value="option1" onclick="disableDropdown()" checked>
                                <label class="form-check-label" for="radioOption1">Pay after Pick Up</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="exampleRadio" id="radioOption2"
                                       value="option2" onclick="enableDropdown()">
                                <label class="form-check-label" for="radioOption2">Pre Pay</label>
                            </div>
                        </div>

                        <!-- Horizontal line with reduced width -->
                        <hr style="border-top: 3px solid black; margin: 20px 20px 20px 20px; width: 85%;">

                        <!-- Total amount -->
                        <div class="row" style="margin-top: 5%;">
                            <div class="col" style="font-size: 35px; opacity: 70%;">
                                <p> Total Amount:</p>
                            </div>
                            <div class="col" style="font-size: 35px; margin-left: 2%;">
                                <div id="final-price" class="final-price"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer justify-content-center">

                    <!-- Centered buttons -->
                    <button type="button" class="button_ho shadow rounded-3" data-bs-dismiss="modal"
                            style="background-color: red; width:200px; height:50px; border:1px solid white; color: white; margin-right: 50px;">
                        Cancel
                    </button>
                    <button id="order-confirm" type="submit" class="button_ho shadow rounded-3"
                            style="background-color: green; color: white; width:200px; height:50px ; border:1px solid white;"
                            onclick="submitOrder()">
                        Order
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- for menu categories -->
<div class="container">
    <div class="container-fluid mt-5 mb-5 justify-content-center align-content-center rounded-5 shadow"
         style="background-color: rgb(255, 255, 255); margin-right: 20px; border: 1px solid rgb(241, 166, 97);">
        <div class="row m-5" style="border-bottom: 2px solid rgb(241, 166, 97);">

            <div class="col-md-2 mb-3 text-center">
                <a href="#" class="text-decoration-none" style="color: grey;" onclick="changeCategory('drink')">
                    <img src="/images/drink icon.jpg"
                         style="width: 30%; max-height: 200px; border: 1px solid rgb(241, 166, 97);"
                         class=" rounded-circle mb-3 shadow hover-zoom" alt="">
                    <p class="text-center" style="opacity: 75%;">Drinks</p>
                </a>
            </div>

            <div class="col-md-2 mb-3 text-center">
                <a href="#" class="text-decoration-none" style="color: grey;" onclick="changeCategory('fries')">
                    <img src="/images/fried icon.jpeg"
                         style="width: 30%; max-height: 200px; border: 1px solid rgb(241, 166, 97);"
                         class=" rounded-circle mb-3 shadow hover-zoom" alt="">
                    <p class="text-center" style="opacity: 75%;">Fries</p>
                </a>
            </div>

            <div class="col-md-2 mb-3 text-center">
                <a href="#" class="text-decoration-none" style="color: grey;" onclick="changeCategory('salad')">
                    <img src="/images/salad icon.jpeg"
                         style="width: 30%; max-height: 300px; border: 1px solid rgb(241, 166, 97);"
                         class=" rounded-circle mb-3 shadow hover-zoom" alt="">
                    <p class="text-center" style="opacity: 75%;">Salad</p>
                </a>
            </div>

            <div class="col-md-2 mb-3 text-center">
                <a href="#" class="text-decoration-none" style="color: grey;" onclick="changeCategory('fast')">
                    <img src="/images/fast food icon.jpeg"
                         style="width: 30%; max-height: 200px; border: 1px solid rgb(241, 166, 97);"
                         class=" rounded-circle mb-3 shadow hover-zoom" alt="">
                    <p class="text-center" style="opacity: 75%;">Fast Food</p>
                </a>
            </div>

            <div class="col-md-2 mb-3 text-center">
                <a href="#" class="text-decoration-none" style="color: grey;" onclick="changeCategory('soup')">
                    <img src="/images/soup icon.jpeg"
                         style="width: 30%; max-height: 200px; border: 1px solid rgb(241, 166, 97);"
                         class=" rounded-circle mb-3 shadow hover-zoom" alt="">
                    <p class="text-center" style="opacity: 75%;">Soup</p>
                </a>
            </div>

            <div class="col-md-2 mb-3 text-center">
                <a href="#" class="text-decoration-none" style="color: grey;" onclick="changeCategory('curry')">
                    <img src="/images/curry icon.jpeg"
                         style="width: 30%; max-height: 200px; border: 1px solid rgb(241, 166, 97);"
                         class=" rounded-circle mb-3 shadow hover-zoom" alt="">
                    <p class="text-center" style="opacity: 75%;">Curry</p>
                </a>
            </div>

        </div>

        <!-- items list -->

        <div class="row m-5">
            <!-- for search box -->
            <form class="d-flex justify-content-center" role="search">
                <input id="searchInput" class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       style="width: 100%">
            </form>

            <!-- for specific category header -->
            <div id="changeCategory"></div>

            <!--            drink-->
            <div class="category-row" id="drink-category">
                <div class="row g-0 mt-3">
                    {{#each drinkItems}}
                        <div class="con col-md-3 no-padding-col {{this.mrole}}" db-id="{{this.mid}}"
                             style="padding: 0.5%;">
                            <div class="card w-100" style="width: 18rem;">
                                <img src="{{this.imgUrl}}" class="card-img-top" alt={{this.mname}}
                                     style="width: 100%; height: 250px; object-fit: cover;">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h5 class="card-title"><b>{{this.mname}}</b></h5>
                                        <p class="card-text" style="font-size: 0.7rem; opacity: 60%;">{{this.mnote}}</p>
                                        <p class="card-price" style="font-size: 1rem;">{{this.price}}
                                            MMK</p>
                                        {{#if this.quantity}}
                                            <button type="button"
                                                    class="btn d-flex justify-content-center mx-auto"
                                                    food-name="{{this.mname}}" food-price="{{this.price}}"
                                                    food-id="{{this.mid}}" food-quantity="{{this.quantity}}"
                                                    id="order-button-{{this.mid}}"
                                                    button-action="add"
                                                    onclick="orderFood(this)"
                                                    style="background-color: #E38B29">Order
                                            </button>
                                        {{else}}
                                            <button type="button"
                                                    class="btn d-flex justify-content-center mx-auto"
                                                    disabled
                                                    style="background-color: #E38B29">Out of stock
                                            </button>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <button type="button" class="btn d-flex justify-content-center mx-auto"
                        onclick="showMore('Drink')"
                        style="display: none; background-color: #E38B29; padding: 1%; margin-top: 20px;">Show more +
                </button>
            </div>

            <!-- curry -->
            <div class="category-row" id="curry-category">
                <div class="row g-0 mt-3" id="curry-category">
                    {{#each curryItems}}
                        <div class="con col-md-3 no-padding-col {{this.mrole}}" db-id="{{this.mid}}"
                             style="padding: 0.5%;">
                            <div class="card w-100" style="width: 18rem;">
                                <img src="{{this.imgUrl}}" class="card-img-top" alt={{this.mname}}
                                     style="width: 100%; height: 250px; object-fit: cover;">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h5 class="card-title"><b>{{this.mname}}</b></h5>
                                        <p class="card-text" style="font-size: 0.7rem; opacity: 60%;">{{this.mnote}}</p>
                                        <p class="card-price" style="font-size: 1rem;">{{this.price}}
                                            MMK</p>
                                        {{#if this.quantity}}
                                            <button type="button"
                                                    class="btn d-flex justify-content-center mx-auto"
                                                    food-name="{{this.mname}}" food-price="{{this.price}}"
                                                    food-id="{{this.mid}}" food-quantity="{{this.quantity}}"
                                                    id="order-button-{{this.mid}}"
                                                    button-action="add"
                                                    onclick="orderFood(this)"
                                                    style="background-color: #E38B29">Order
                                            </button>
                                        {{else}}
                                            <button type="button"
                                                    class="btn d-flex justify-content-center mx-auto"
                                                    disabled
                                                    style="background-color: #E38B29">Out of stock
                                            </button>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <button type="button" class="btn d-flex justify-content-center mx-auto"
                        onclick="showMore('Curry')"
                        style="display: none; background-color: #E38B29; padding: 1%; margin-top: 20px;">Show more +
                </button>
            </div>

            <!--            drink-->
            <div class="category-row" id="fries-category">
                <div class="row g-0 mt-3">
                    {{#each friesItems}}
                        <div class="con col-md-3 no-padding-col {{this.mrole}}" db-id="{{this.mid}}"
                             style="padding: 0.5%;">
                            <div class="card w-100" style="width: 18rem;">
                                <img src="{{this.imgUrl}}" class="card-img-top" alt={{this.mname}}
                                     style="width: 100%; height: 250px; object-fit: cover;">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h5 class="card-title"><b>{{this.mname}}</b></h5>
                                        <p class="card-text" style="font-size: 0.7rem; opacity: 60%;">{{this.mnote}}</p>
                                        <p class="card-price" style="font-size: 1rem;">{{this.price}}
                                            MMK</p>
                                        {{#if this.quantity}}
                                            <button type="button"
                                                    class="btn d-flex justify-content-center mx-auto"
                                                    food-name="{{this.mname}}" food-price="{{this.price}}"
                                                    food-id="{{this.mid}}" food-quantity="{{this.quantity}}"
                                                    id="order-button-{{this.mid}}"
                                                    button-action="add"
                                                    onclick="orderFood(this)"
                                                    style="background-color: #E38B29">Order
                                            </button>
                                        {{else}}
                                            <button type="button"
                                                    class="btn d-flex justify-content-center mx-auto"
                                                    disabled
                                                    style="background-color: #E38B29">Out of stock
                                            </button>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <button type="button" class="btn d-flex justify-content-center mx-auto"
                        onclick="showMore('Fries')"
                        style="display: none; background-color: #E38B29; padding: 1%; margin-top: 20px;">Show more +
                </button>
            </div>

            <!--            salad-->
            <div class="category-row" id="salad-category">
                <div class="row g-0 mt-3">
                    {{#each saladItems}}
                        <div class="con col-md-3 no-padding-col {{this.mrole}}" db-id="{{this.mid}}"
                             style="padding: 0.5%;">
                            <div class="card w-100" style="width: 18rem;">
                                <img src="{{this.imgUrl}}" class="card-img-top" alt={{this.mname}}
                                     style="width: 100%; height: 250px; object-fit: cover;">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h5 class="card-title"><b>{{this.mname}}</b></h5>
                                        <p class="card-text" style="font-size: 0.7rem; opacity: 60%;">{{this.mnote}}</p>
                                        <p class="card-price" style="font-size: 1rem;">{{this.price}}
                                            MMK</p>
                                        {{#if this.quantity}}
                                            <button type="button"
                                                    class="btn d-flex justify-content-center mx-auto"
                                                    food-name="{{this.mname}}" food-price="{{this.price}}"
                                                    food-id="{{this.mid}}" food-quantity="{{this.quantity}}"
                                                    id="order-button-{{this.mid}}"
                                                    button-action="add"
                                                    onclick="orderFood(this)"
                                                    style="background-color: #E38B29">Order
                                            </button>
                                        {{else}}
                                            <button type="button"
                                                    class="btn d-flex justify-content-center mx-auto"
                                                    disabled
                                                    style="background-color: #E38B29">Out of stock
                                            </button>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <button type="button" class="btn d-flex justify-content-center mx-auto"
                        onclick="showMore('Salad')"
                        style="display: none; background-color: #E38B29; padding: 1%; margin-top: 20px;">Show more +
                </button>
            </div>

            <!--            fast-->
            <div class="category-row" id="fast-category">
                <div class="row g-0 mt-3">
                    {{#each fastItems}}
                        <div class="con col-md-3 no-padding-col {{this.mrole}}" db-id="{{this.mid}}"
                             style="padding: 0.5%;">
                            <div class="card w-100" style="width: 18rem;">
                                <img src="{{this.imgUrl}}" class="card-img-top" alt={{this.mname}}
                                     style="width: 100%; height: 250px; object-fit: cover;">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h5 class="card-title"><b>{{this.mname}}</b></h5>
                                        <p class="card-text" style="font-size: 0.7rem; opacity: 60%;">{{this.mnote}}</p>
                                        <p class="card-price" style="font-size: 1rem;">{{this.price}}
                                            MMK</p>
                                        {{#if this.quantity}}
                                            <button type="button"
                                                    class="btn d-flex justify-content-center mx-auto"
                                                    food-name="{{this.mname}}" food-price="{{this.price}}"
                                                    food-id="{{this.mid}}" food-quantity="{{this.quantity}}"
                                                    id="order-button-{{this.mid}}"
                                                    button-action="add"
                                                    onclick="orderFood(this)"
                                                    style="background-color: #E38B29">Order
                                            </button>
                                        {{else}}
                                            <button type="button"
                                                    class="btn d-flex justify-content-center mx-auto"
                                                    disabled
                                                    style="background-color: #E38B29">Out of stock
                                            </button>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <button type="button" class="btn d-flex justify-content-center mx-auto"
                        onclick="showMore('Fast')"
                        style="display: none; background-color: #E38B29; padding: 1%; margin-top: 20px;">Show more +
                </button>
            </div>

            <!--            soup-->
            <div class="category-row" id="soup-category">
                <div class="row g-0 mt-3">
                    {{#each soupItems}}
                        <div class="con col-md-3 no-padding-col {{this.mrole}}" db-id="{{this.mid}}"
                             style="padding: 0.5%;">
                            <div class="card w-100" style="width: 18rem;">
                                <img src="{{this.imgUrl}}" class="card-img-top" alt={{this.mname}}
                                     style="width: 100%; height: 250px; object-fit: cover;">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h5 class="card-title"><b>{{this.mname}}</b></h5>
                                        <p class="card-text" style="font-size: 0.7rem; opacity: 60%;">{{this.mnote}}</p>
                                        <p class="card-price" style="font-size: 1rem;">{{this.price}}
                                            MMK</p>
                                        {{#if this.quantity}}
                                            <button type="button"
                                                    class="btn d-flex justify-content-center mx-auto"
                                                    food-name="{{this.mname}}" food-price="{{this.price}}"
                                                    food-id="{{this.mid}}" food-quantity="{{this.quantity}}"
                                                    id="order-button-{{this.mid}}"
                                                    button-action="add"
                                                    onclick="orderFood(this)"
                                                    style="background-color: #E38B29">Order
                                            </button>
                                        {{else}}
                                            <button type="button"
                                                    class="btn d-flex justify-content-center mx-auto"
                                                    disabled
                                                    style="background-color: #E38B29">Out of stock
                                            </button>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <button type="button" class="btn d-flex justify-content-center mx-auto"
                        onclick="showMore('Soup')"
                        style="display: none; background-color: #E38B29; padding: 1%; margin-top: 20px;">Show more +
                </button>
            </div>
        </div>
    </div>
</div>
{{>footer}}

</body>
</html>